.main {
    padding: 2rem 10rem;

    &__country-text {
        font-size: 4.5rem;
        text-align: center;
        margin: 3rem 0;
        color: $primary-color;
    }

    &__card-info {
        width: 100%;
        height: auto;
        background: linear-gradient(to right bottom, rgba(41, 136, 255, 0.8), rgba(39, 189, 236, 0.8));
        border-radius: 20px;
        //box-shadow: 0 0 5rem rgba(0, 0, 0, .3);
    }

    &__flag-country {
        width: 30rem;
        height: 30rem;
        margin: 10rem 0 10rem 7rem;
        float: left;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__corona-info {
        float: left;
        padding: 8rem 3rem 3rem 1rem;
    }

    &__indo-text {
        font-size: 3.7rem;
        color: $secondary-color;
        text-transform: uppercase;
        letter-spacing: 1rem;
        font-weight: 600;
        padding-left: 5.3rem;
        padding-top: 5rem;
    }

    &__kasus-text {
        color: $secondary-color;
        font-size: 2.5rem;
        margin: 1.2rem 0;
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-weight: 100;
        padding-left: 5.3rem;
    }

    &__emot {
        padding: 4rem 0 0 0;

        &-react {
            color: $secondary-color;
            float: left;
            margin: 0 5rem;

            &-icon {
                width: 100px;
                height: 100px;
            }
        }
    }

    &__text-angka {
        text-align: center;
        font-size: 2rem;
    }
}